{% load static %}<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Home{% block title %}{% endblock %}</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="alternate" type="application/rss+xml" title="RSS for feedUpdate" href="/feedUpdate/rss" />

        <link href="//db.onlinewebfonts.com/c/361984c3a9c4cc35b886b75a7e18b623?family=AvenirNextW05-HeavyItalic" rel="stylesheet" type="text/css"/>
        <link href="//db.onlinewebfonts.com/c/506ee5beb711c81df7d0bd86cf82aa8a?family=AvenirNextLTW02-BoldItalic" rel="stylesheet" type="text/css"/>

        <link rel="stylesheet" href="{% static 'style-js/style.css' %}">
        <link rel="stylesheet" href="{% static 'style-js/nav.css' %}">

        <meta name="theme-color" content="#333" />

        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163338049-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-163338049-1');
        </script>

        {% block meta %}{%  endblock %}
    </head>
    <body>
        <header>
            {% include "Homepage/nav.html" %}
        </header>

        <main>
            {% block main %}{% endblock %}
        </main>
    </body>
</html>